<template>
    <v-app light>
        <layout-drawer v-model="drawer"></layout-drawer>
        <layout-toolbar v-model="drawer"></layout-toolbar>       
        <layout-content></layout-content>
        <layout-footer></layout-footer>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name:'layout',
    data: () => ({
        drawer: false
    })
})
</script>