<template>
    <v-navigation-drawer
        fixed      
        v-bind:value="value"
        @input="$emit('input', $event)"
        app
    >
      <v-list dense>
        <v-list-tile :to="{name:'products'}">          
          <v-list-tile-content>
            <v-list-tile-title >
              Products
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{name:'daily-routes'}">          
          <v-list-tile-content>
            <v-list-tile-title >
              Daily Routes
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{name:'order-details'}">          
          <v-list-tile-content>
            <v-list-tile-title >
              Order Details
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        
        
      </v-list>                

    </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'layout-drawer',
  props: {
    value: Boolean
  },
  methods: {
  }
});
</script>