<template>
    <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        :rows-per-page-items="row_pages_per_item"
    >
        <template slot="items" slot-scope="props">                        
            <td v-on:click="onEdit(props.item.id)">{{ props.item.name }}</td>
            <td v-on:click="onEdit(props.item.id)">{{ props.item.unitOfMeasurement }}</td>
            <td v-on:click="onEdit(props.item.id)">{{ props.item.price }}</td>            
        </template>
    </v-data-table>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'product-table',
  props: {
    items: Array
  },
  data() {
    var headers = [
      {
        text: 'Nombre',
        align: 'left',
        sortable: true,
        value: 'name'
      },
      {
        text: 'Unidad de Medida',
        align: 'left',
        sortable: true,
        value: 'unitOfMeasurement'
      },
      {
        text: 'Precio',
        align: 'left',
        sortable: true,
        value: 'price'
      },
    ];

    return {
      row_pages_per_item:[25, 50, { text: "All", value: -1 }],      
      headers: headers
    };
  },
  watch: {
    users(newValue) {
      this.innerItems = newValue;
    }
  },
  methods: {
    onEdit(id) {
      this.$emit('edit', id);
    }
  }
});
</script>
