<template>
    <v-container>
        <product-table
            :items="products"         
            @edit="edit"   
        >
        </product-table>
    </v-container>
</template>
<script lang="ts">
import Vue from 'vue';
import { ServiceFactory, dtos } from 'shared/service';

export default Vue.extend({
  name: 'product',
  data() {
    return {
      products: []
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    fabLarge() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return false;
        case 'sm':
          return false;
        default:
          return true;
      }
    }
  },
  methods: {
    fetchData() {
      var request = new dtos.GetProductList();

      var client = ServiceFactory.createClient();
      client.get(request).then(response => {
        this.products = response;
      });
    },
    onClickNew() {},
    edit(id) {            
    }
  }
});
</script>
