<template>
    <v-container>
        <orderdetails-table
            :items="od"              
        >
        </orderdetails-table>      
    </v-container>
</template>
<script lang="ts">
import Vue from 'vue'
import { ServiceFactory, dtos } from 'shared/service';

export default Vue.extend({
  name:'orderdetails',
  data(){
      return {
          od:[]
      }
  },
  created(){
      this.fetchData()
  },
 methods: {
    fetchData() {
      var request = new dtos.GetOrderDetails();

      var client = ServiceFactory.createClient();
      client.get(request).then(response => {
        this.od = response;
      });
    },
  }
})
</script>

